modules = ["nodejs-20", "web"]
run = "npm run start"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "npm run start"]

[[ports]]
localPort = 3000
externalPort = 80

[[ports]]
localPort = 33409
externalPort = 3003

[[ports]]
localPort = 36997
externalPort = 4200

[[ports]]
localPort = 45197
externalPort = 5000
