modules = ["nodejs-20", "web"]
run = "npm run start"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "npm run start"]

[[ports]]
localPort = 3000
externalPort = 80

[[ports]]
localPort = 34765
externalPort = 6800

[[ports]]
localPort = 35055
externalPort = 3002

[[ports]]
localPort = 35191
externalPort = 5173

[[ports]]
localPort = 37543
externalPort = 5000

[[ports]]
localPort = 40825
externalPort = 4200

[[ports]]
localPort = 43023
externalPort = 3001

[[ports]]
localPort = 44779
externalPort = 6000

[[ports]]
localPort = 44863
externalPort = 3000

[[ports]]
localPort = 46815
externalPort = 3003
