modules = ["nodejs-20", "web"]
run = "npm run start"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "npm run start"]

[[ports]]
localPort = 3000
externalPort = 80

[[ports]]
localPort = 33067
externalPort = 3001

[[ports]]
localPort = 41211
externalPort = 3000

[[ports]]
localPort = 45593
externalPort = 3002
